# Xcode build products
build/
DerivedData/
*.hmap
*.ipa
*.dSYM/
*.dSYM.zip
*.xcarchive
*.xcresult

# Xcode local user state
xcuserdata/
*.xcuserstate
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xccheckout
*.xcscmblueprint
*.moved-aside

# Swift Package Manager local state
.build/
.swiftpm/

# Carthage build output
Carthage/Build/
